<app-nav-admin [idComplejo]="idComplejo"></app-nav-admin>
<div class="row">

<div class="col-2"></div>
<div class="col-8 consulta">
<div>
    <div>
        <h5>Cliente:  {{persona.nombre}}, {{persona.apellido}}</h5>
    </div>
    <div>
        <h5>Importe total estadia: {{estadia.importeTotal  | currency:'ARS':'symbol':'1.2-2' }}</h5>
    </div>
    <div>
        <h5>Importe Pendiente:  {{estadia.importePendiente | currency:'ARS':'symbol':'1.2-2'}}</h5>
    </div>
</div>
<form [formGroup]="formularioPago">
    <h5>Pagos:</h5> 
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Importe a pagar</label>
        <input type="text" class="form-control" id="exampleInputEmail1" formControlName="importe">
        <div *ngIf="formularioPago.get('importe')?.invalid && formularioPago.get('numberInput')?.touched">
            <span *ngIf="formularioPago.get('importe')?.errors?.['invalidNumber']">El número ingresado debe ser menor a {{ estadia.importePendiente}}.</span>
          </div>
    </div>
    <div class="mb-3"> 
        <label for="exampleInputEmail1" class="form-label">Forma de Pago</label>
        <select class="form-select" aria-label="Default select example" formControlName="idFormaPago">
            <option selected>Seleccionar Forma de Pago</option>
            <option *ngFor="let pag of formasDePagos" [value]="pag.idFormasDePagos">{{pag.descripcion}}</option>
          </select></div>
    <div class="mb-3">  <label class="form-label">Tipo de pago:</label>
        <select class="form-select" aria-label="Default select example" formControlName="idTipoPago">
            <option selected>Seleccionar Tipo de pago</option>
            <option *ngFor="let tip of tiposPagos" [value]="tip.idTiposPagos">{{tip.descripcion}}</option>
          </select>
        </div>
    <button type="submit" class="custom-btn btn-2" [disabled]="formularioPago.invalid" (click)="guardar()">Guardar</button>
  </form>
</div>
  <div class="col-2"></div>
</div>