
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3>Preguntas Frecuentes</h3>

 
  <div class="accordion hola accordion-flush" id="accordionFlushExample">
    <div class="accordion-item hola">
      <h2 class="accordion-header hola ">
        <button class="accordion-button collapsed hola" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          ¿Cuáles son los datos requeridos para realizar una consulta de disponibilidad?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Para realizar una consulta de disponibilidad, se requiere que se ingresar como minimo nombre, apellido, telefono , email, la fecha de ingreso y egreso. Esos son los datos obligatorios para que la consulta se pueda realizar correctamente.</div>
      </div>
    </div>
    <div class="accordion-item hola">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed hola" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          ¿Para qué necesitan mi provincia y localidad de residencia?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"> Pedimos esa información para saber desde donde nos visitan nuestros clientes. </div>
      </div>
    </div>
    <div class="accordion-item hola ">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed hola" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          ¿Como me comunico para realizar un reserva?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Para realizar una consulta se tiene que llenar el formulario  y al enviarlo correctamente, se redirecciona al WhatsApp del complejo que le interesa.</div>
      </div>
    </div>
  </div>
</div>

</div>
<hr>
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2023 Derechos Reservados AG 
          <a href="terminosycondiciones" target="_blank" rel="noopener noreferrer">Terminos y Condiciones</a>
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">

      </div>
    </div>
  </div>
</footer>